.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a7bab;
    height: 100vh;
    font-style: Bree Serif;
}
.login-form{
    box-sizing: border-box;
    height: 75vh;
    width: 40vw;
    padding: 40px;
    background-color: white;
    border: 0;
    border-radius: 10px;
}
.heading{
    font-weight: bold;
    text-align: center;
}
.email-container,
.pass-container {
    display: flex;
    flex-direction: column;
}
.label{
    margin: 5px;
}
.input{
    padding: 3px;
    margin: 5px;
    height: 25px;
}
.checkbox-container{
    margin: 5px;
}
.sign-in-btn{
    background-color: #3a7bab;
    color: white;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border: 0;
}